thop
timm
oss2
matplotlib
seaborn
tqdm
fmt
nlohmann_json
datasets
transformers
multiset
easypyplot

terminaltables
pytorch_pfn_extras
fastargs
matplotlib
scikit-learn
imgcat
pandas
assertpy
psutil
webdataset
torchmetrics
opencv-python-headless
torch_geometric
ffcv